$primary: #2C7FB3;
$primary-light: #5699c2;
$primary-lighter: #c0d9e8;
$secondary: #a477a1;
//$dark: #23202B;
$light: #73AEBE;
$white: #F0F0F2;


$theme-colors: (
    "light-base": #A37800,
		"primary-light": #5699c2,
		"primary-lighter": #c0d9e8
);


$enable-shadows:  true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
